@{
    ViewData["Title"] = "About";
    ViewData["Description"] = "Hello Frineds";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Description"]</h3>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
